<%= erb :head, :locals => {title: "アトラス [Atllas] : カテゴリー - "+cat_ja} %>

<div class="span7">
  <% if @urls %>
  <div class="section">
	<span class="section-title">人気ニュース</span>
	<% @urls.each_with_index do |url, i| %>
		<% if url.title %>
			<div class="entry <%= cat_en %>">
			  <h1><a href="<%= url.url %>" target="_blank"><%= url.title %></a></h1>
			  <p><%= url.body[0,100] if url.body %>...</p>
			  <span><a href="/page/<%= url.id %>"><%= url.id.generation_time.strftime	("	%Y年%_m月%e日") %></a></span>
			</div>
			<% if i == 5 %>
				<% if device == "smartphone" %>
					<div style="width:320px;height:50px;">
						<%= erb :ad320 %>
					</div>
				<% else %>
					<div style="width:336px;height:280px;margin:10px 0;">
						<%= erb :ad336 %>
					</div>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
  </div>
  <% end %>
</div> <!-- .span6 -->

<% if device == "smartphone" %>
  <div style="width:300px; margin: 3px auto;">
	<%= erb :ad300 %>
  </div>
<% end %>

<div class="span4 offset1">
  <% rpoint = rand(0..5) %>
  <% if @recents %>
  <div class="section">
	<span class="section-title">最新ニュース</span>
	<% @recents.each_with_index do |url, i| %>
	  <% if url.title %>
	    <div class="entry <%= cat_en %>">
 		  <h2><a href="<%= url.url %>" target="_blank"><%= url.title %></a></h2>
		</div>
	  <% end %>
	  <% if i == rpoint %>
	    <% if device == 'desktop' %>
	    	<div style="width:300px;height:250px; margin:10px 0;">
	    		<%= erb :ad300 %>
	    	</div>
	    <% end %>
	  <% end %>
	<% end %>
  </div> <!-- .section -->
  <% end %>
</div> <!-- .span4 -->	  	

<%= erb :foot %>
