<%= erb :head, :locals => {title: "アトラス [Atllas] : カテゴリー - "+cat_ja} %>

<div class="span7">
  <% if @urls %>
  <div class="section">
	<span class="section-title">人気ニュース</span>
	<% @urls.each_with_index do |url, i| %>
		<% if url.title %>
			<div class="entry <%= cat_en %>">
			  <h1><a href="<%= url.url %>" target="_blank"><%= url.title %></a></h1>
			  <p><%= url.body[0,100] if url.body %>...</p>
			  <span><a href="/page/<%= CGI.escape(CGI.escape(url.url)) %>"><%= url.id.generation_time.strftime	("	%Y年%_m月%e日") %></a></span>
			</div>
			<% if i == 5 %>
				<script type="text/javascript"><!--
					google_ad_client = "ca-pub-1794767457980402";
					/* mobile */
					if (window.innerWidth > 480) {
						google_ad_slot = "7747074893";
						google_ad_width = 336;
						google_ad_height = 280;
					} else{
						google_ad_slot = "9524859298";
						google_ad_width = 320;
						google_ad_height = 50;
					}
					//-->
				</script>
				<script type="text/javascript"
						src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			<% end %>
		<% end %>
	<% end %>
  </div>
  <% end %>
</div> <!-- .span6 -->

<div class="span4 offset1">
  <% rpoint = rand(0..5) %>
  <% if @recents %>
  <div class="section">
	<span class="section-title">最新ニュース</span>
	<% @recents.each_with_index do |url, i| %>
	  <% if url.title %>
	    <div class="entry <%= cat_en %>">
 		  <h2><a href="<%= url.url %>" target="_blank"><%= url.title %></a></h2>
		</div>
	  <% end %>
	  <% if i == rpoint %>
	  	<script type="text/javascript"><!--
	  		google_ad_client = "ca-pub-1794767457980402";
	  		/* mobile */
	  		google_ad_slot = "6409942495";
	  		google_ad_width = 300;
	  		google_ad_height = 250;
	  		//-->
	  	</script>
	  	<script type="text/javascript"
	  			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	  	</script>
	  <% end %>
	<% end %>
  </div> <!-- .section -->
  <% end %>
</div> <!-- .span4 -->	  	

<%= erb :foot %>
