<%= erb :head, :locals => {title: "アトラス [Atllas] : カテゴリー"} %>

<div class="span7">
  <% if @urls %>
  <div id="popular" class="section">
	<% @urls.each do |url| %>
	<% if url.title %>
	<div class="entry <%= cat_name %>">
	  <h1><a href="<%= url.url %>"><%= url.title %></a></h1>
	  <p><%= url.body[0,100] if url.body %>...</p>
	</div>
	<% end %>
	<% end %>
  </div>
  <% end %>
</div> <!-- .span6 -->	

<div class="span4 offset1">
  <% rpoint = rand(1..10) %>
  <% if @recents %>
  <div id="recents" class="section">
	<% @recents.each_with_index do |url, i| %>
	  <% if url.title %>
	    <div class="entry <%= cat_name %>">
 		  <h2><a href="<%= url.url %>"><%= url.title %></a></h2>
		</div>
	  <% end %>
	  <% if i == rpoint %>
	    <%= erb :ad300 %>
	  <% end %>
	<% end %>
  </div> <!-- #recents .section -->
  <% end %>
</div> <!-- .span4 -->	  	

<%= erb :foot %>
