<%= erb :head, :locals => {title: "アトラス [Atllas] : カテゴリー - "+cat_ja} %>

<div class="main-620">
  <% if @urls %>
  <div class="section">
	<% @urls.each do |url| %>
		<% if url.title %>
			<div class="entry <%= cat_en %>">
			  <h1><a href="<%= url.url %>" target="_blank"><%= url.title %></a></h1>
			  <p><%= url.body[0,100] if url.body %>...</p>
			</div>
		<% end %>
	<% end %>
  </div>
  <% end %>
</div> <!-- .span6 -->

<div class="side-336">
  <% if @recents %>
  <span class="section-title">最新ニュース</span>
  <div class="section">
	<% @recents.each do |url| %>
	  <% if url.title %>
	    <div class="entry <%= cat_en %>">
 		  <h2><a href="<%= url.url %>" target="_blank"><%= url.title %></a></h2>
		</div>
	  <% end %>
	<% end %>
  </div> <!-- .section -->
  <% end %>
</div> <!-- .span4 -->	  	

<%= erb :foot %>
