<%= erb :head, :locals => {title: "アトラス [Atllas] : カテゴリー - "+cat_ja} %>

<div class="main-620">
  <% if @urls %>
  <div class="section">
	<% @urls.each do |url| %>
		<% if url.title %>
			<div class="entry <%= cat_en %>">
			  <h1><a href="<%= url.url %>" target="_blank"><%= url.title %></a></h1>
			  <p><%= url.body[0,100] if url.body %>...</p>
			</div>
		<% end %>
	<% end %>
  </div>
  <% end %>
</div> <!-- .span6 -->

<div class="side-336">
	 	<div class="side-ad">
		  <script type="text/javascript"><!--
		  google_ad_client = "ca-pub-1794767457980402";
		  if (window.innerWidth > 769){
		  	/* main area */
		  	google_ad_slot = "7747074893";
		  	google_ad_width = 336;
		  	google_ad_height = 280;
		  }else if(window.innerWidth < 481){
		  	/* recent area */
		  	google_ad_slot = "6409942495";
		  	google_ad_width = 300;
		  	google_ad_height = 250;
		  }
		  //-->
		  </script>
		  <script type="text/javascript"
		  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		  </script>
	 	</div>

  <% if @recents %>
  <span class="section-title">最新ニュース</span>
  <div class="section">
	<% @recents.each do |url| %>
	  <% if url.title %>
	    <div class="entry <%= cat_en %>">
 		  <h2><a href="<%= url.url %>" target="_blank"><%= url.title %></a></h2>
		</div>
	  <% end %>
	<% end %>
  </div> <!-- .section -->
  <% end %>
</div> <!-- .span4 -->	  	

<%= erb :foot %>
