<%= erb :head, :locals => {title: "アトラス [Atllas] ネットで話題の最新ニュース"} %>

<div class="span6">
  <% if @urls %>
  <div id="popular" class="section">
	<span class="section-title">人気ニュース</span>
	<% @urls.sort_by{|u|
	   if u.count_recent_hatena
	     u.count_recent_hatena + u.counted_twitter
	   else
	     # hatebuの上限はだいたい300-400くらいと想定して、その上限くらいのURLは100くらいとして扱う
	     # 一方12時間ではtwitterの方は60くらいが上限なのでそんな感じ
	     u.counted_twitter + u.count_all_hatena/5
	   end
	   }.reverse.each_with_index do |url, i| %>
	  <% if url.title %>
	    <div class="entry <%= url.category.downcase %>">
		  <h1><a href="<%= url.url %>" target="_blank"><%= url.title %></a></h1>
		  <p><%= url.body[0,100] if url.body %>...</p>
		  <span><a href="/page/<%= CGI.escape(CGI.escape(url.url)) %>"><%= url.id.generation_time.strftime("%Y年%_m月%e日") %></a></span>
		</div> <!-- .entry -->
		<% if i == 5 %>
			<% if device == "smartphone" %>
				<div style="width:320px;height:50px;">
					<%= erb :ad320 %>
				</div>
			<% else %>
				<div style="width:336px;height:280px;margin:10px 0;">
					<%= erb :ad336 %>
				</div>
			<% end %>
		<% end %>
	  <% end %>
	<% end %>
  </div>
  <% end %>
</div> <!-- .span6 -->

<% if device == "smartphone" %>
  <div style="width:300px; margin: 3px auto;">
	<%= erb :ad300 %>
  </div>
<% end %>

<div class="span4">
  <div id="recents" class="section">
	<span class="section-title">最新ニュース</span>
	<% rpoint = rand(0..5) %>
	  <% @recents.each_with_index do |url, i| %>
	    <% if url.title %>
		  <div class="entry <%= url.category.downcase %>">
			<h2><a href="<%= url.url %>" target="_blank"><%= url.title %></a></h2>
		  </div>
		<% end %>
	  <% if i == rpoint %>
	    <% if device == 'desktop' %>
	    	<div style="width:300px;height:250px; margin:10px 0;">
	    		<%= erb :ad300 %>
	    	</div>
	    <% end %>
	  <% end %>
	<% end %>
  </div>
</div> <!-- .span4 -->

<div class="span2">
  <div id="products" class="section">
	<span class="section-title">話題の商品</span>
	<% @market.each do |prd| %>
	  <% if prd.image_url %>
	    <img src="<%= prd.image_url %>" />
	  <% end %>
	  <p><a href="<%= prd.url %>" target="_blank"><%= prd.title %></a></p>
	  <hr>
	<% end %>
  </div> <!-- .span2 -->

  <div id="videos" class="section">
	<span class="section-title">話題の動画</span>
	<% @video.each do |vd| %>
	<% if /v=(.+?)$/ =~ vd.url %>
	<% vid = $1 %>
	<a href="<%= vd.url %>" target="_blank"><img src="http://img.youtube.com/vi/<%= vid %>/0.jpg" /></a>
	<% end %>
	<p><a href="<%= vd.url %>"><%= vd.title %></a></p>
	<hr>
	<% end %>
  </div>
</div> <!-- .span2 -->		  	

<%= erb :foot %>
