<%= erb :head, :locals => {title: "アトラス [Atllas] ネットで話題の最新ニュース"} %>

<div class="main-620">
  <% if @urls %>
  <div id="popular" class="section">
	<% @urls.sort_by{|u|
	   if u.count_recent_hatena
	     u.count_recent_hatena + u.counted_twitter
	   else
	     # hatebuの上限はだいたい300-400くらいと想定して、その上限くらいのURLは100くらいとして扱う
	     # 一方12時間ではtwitterの方は60くらいが上限なのでそんな感じ
	     u.counted_twitter + u.count_all_hatena/5
	   end
	   }.reverse.each_with_index do |url, i| %>
	  <% if url.title %>
	    <div class="entry <%= url.category.downcase %>">
		  <h1><a href="<%= url.url %>" target="_blank"><%= url.title %></a></h1>
		  <p><%= url.body[0,100] if url.body %>...</p>
		  <span><a href="/page/<%= CGI.escape(CGI.escape(url.url)) %>"><%= url.id.generation_time.strftime("%Y年%_m月%e日") %></a></span>
		</div> <!-- .entry -->
		<% if i == 5 %>
			<!-- adhere -->
		<% end %>
	  <% end %>
	<% end %>
  </div>
  <% end %>
</div> <!-- .span6 -->

<div class="side-336">
	 	<div class="side-ad">
		  <script type="text/javascript"><!--
		  google_ad_client = "ca-pub-1794767457980402";
		  if (window.innerWidth > 769){
		  	/* main area */
		  	google_ad_slot = "7747074893";
		  	google_ad_width = 336;
		  	google_ad_height = 280;
		  }else if(window.innerWidth < 481){
		  	/* recent area */
		  	google_ad_slot = "6409942495";
		  	google_ad_width = 300;
		  	google_ad_height = 250;
		  }
		  //-->
		  </script>
		  <script type="text/javascript"
		  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		  </script>
	 	</div>

	<span class="section-title">NEW</span>
 	<div id="recents" class="section">
		<% @recents.each_with_index do |url, i| %>
	    	<% if url.title %>
			<div class="entry <%= url.category.downcase %>">
				<h2><a href="<%= url.url %>" target="_blank"><%= url.title %></a></h2>
		  	</div>
			<% end %>
		<% end %>
  	</div>

  	<span class="section-title">話題の商品</span>
  	<% @market.each do |prd| %>
  		<% if prd.image_url %>
  			<div id="products" class="section">
  		    	<a href="<%= prd.url %>" target="_blank"><img src="<%= prd.image_url %>" /></a>
  		    	<p><a href="<%= prd.url %>" target="_blank"><%= prd.title %></a></p>
  		    </div>
  		<% end %>
  	<% end %>

  	<span class="section-title">話題の動画</span>  		
  	<% @video.each do |vd| %>
  		<% if /v=(.+?)$/ =~ vd.url %>
  			<% vid = $1 %>
  			<div id="videos" class="section">
  				<a href="<%= vd.url %>" target="_blank"><img src="http://img.youtube.com/vi/<%= vid %>/0.jpg" /></a>
  				<p><a href="<%= vd.url %>"><%= vd.title %></a></p>
  			</div>
  		<% end %>
  	<% end %>
</div> <!-- .span4 -->	  	

<%= erb :foot %>
