<%= erb :head, :locals => {title: "ATLLAS: ネットで話題の最新ニュース"} %>

<div class="main-620">
  <% if @urls %>
  <span class="section-title">POPULAR</span>
  <div id="popular" class="section">
	<% @urls.sort_by{|u|
	   if u.count_recent_hatena
	     u.count_recent_hatena + u.counted_twitter
	   else
	     # hatebuの上限はだいたい300-400くらいと想定して、その上限くらいのURLは100くらいとして扱う
	     # 一方12時間ではtwitterの方は60くらいが上限なのでそんな感じ
	     u.counted_twitter + u.count_all_hatena/5
	   end
	   }.reverse.each_with_index do |url, i| %>
	  <% if url.title %>
	    <div class="entry <%= url.category.downcase %>">
		  <h1><a href="<%= url.url %>" target="_blank"><%= url.title %></a></h1>
		  <p><%= url.body[0,100] if url.body %>...</p>
		</div> <!-- .entry -->
		<% if i == 5 %>
			<!-- adhere -->
		<% end %>
	  <% end %>
	<% end %>
  </div>
  <% end %>
</div> <!-- .span6 -->

<div class="side-336">
	<span class="section-title">NEW</span>
 	<div id="recents" class="section">
		<% @recents.each_with_index do |url, i| %>
	    	<% if url.title %>
			<div class="entry <%= url.category.downcase %>">
				<h2><a href="<%= url.url %>" target="_blank"><%= url.title %></a></h2>
		  	</div>
			<% end %>
		<% end %>
  	</div>
<%= erb :foot %>
