<%= erb :head, :locals => {title: "アトラス [Atllas] : "+url.title} %>

<div class="span6">
  <div class="section">
	<div class="entry <%= url.category.downcase %>">
	  <h1><a href="<%= url.url %>"><%= url.title %></a></h1>
	  <p><%= url.body[0,250] if url.body %>...</p>
	  <span><%= url.id.generation_time.strftime("%Y年%_m月%e日") %></span>
	</div>
	<div style="margin-left:40px">
	  <% @related.each do |url| %>
	    <% if url.title %>
		  <div class="entry <%= url.category.downcase if url.category %>">
			<h2><a href="<%= url.url %>"><%= url.title %></a></h2>
		  </div>
		<% end %>
	  <% end %>
	</div>
  </div>
  <%= erb :ad336 %>
  <%= erb :ad320 %>
</div> <!-- .span6 -->

<div class="span2">
  <div class="share section">
	<div class="tweet-button">
	  <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= url.url %>">Tweet</a>
	  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
	<div class="hatena-button">
	  <a href="http://b.hatena.ne.jp/entry/<%= url.url %>" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard-balloon" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
	</div>
  </div>
</div> <!-- .span2 -->

<div class="span4">
  <div class="section" id="recents">
	<% unless @nears.empty? %>
	<span class="section-title"><%= url.id.generation_time.strftime("%Y年%_m月%e日") %>のニュース</span>
	<% end %>
	<% rpoint = rand(1..10) %>
	<% @nears[0,15].each_with_index do |url, i| %>
	  <% if url.title %>
	    <div class="entry <%= url.category.downcase if url.category %>">
		  <h2><a href="<%= url.url %>"><%= url.title %></a></h2>
		</div>
	  <% end %>
	  <% if i == rpoint %>
	    <%= erb :ad300 %>
	  <% end %>
	<% end %>
  </div>
</div> <!-- .span4 -->		  	

<%= erb :foot %>
